<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizzing</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
</head>

<body>
    <!--header-->
    <div class="head fixed-top">
        <div class="container">
            <div class="jumbotrons">
                <p id='p1' class="text-center"><strong>QUIZZING</strong></p>
                <p id='p2' class="text-center">TEST YOUR SELF, JUST FOR FUN!</p>
            </div>
        </div>
   </div>
    <div class="container">
        <div class="row center">
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="/"><strong>Home</strong></a></li>
                <li><a href="/ranking"><strong>Ranking</strong></a></li>
                <li><a href="/"><strong>Exit</strong></a></li>
            </ul>
        </div>
    </div>

    <!--mdiddle part-->
    <div class="container">
        {% block container %}{% endblock %}
    </div>

    <footer class="row-footer">
        <h5 class="text-center"> &copy; Weiling IEMS5709 </h5>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" rel="stylesheet"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    {% block javascript %} {% endblock %}

</body>
</html>
