<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizzing</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
</head>

<body>
    <!--header-->
    <div class="head fixed-top">
        <div class="container">
            <div class="jumbotrons">
                <p id='p1' class="text-center"><strong>QUIZZING</strong></p>
                <p id='p2' class="text-center">TEST YOUR SELF, JUST FOR FUN!</p>
            </div>
        </div>
   </div>
    <div class="container">
        <div class="row center">
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="/"><strong>Home</strong></a></li>
                <li><a href="#"><strong>Ranking</strong></a></li>
                <li><a href="/"><strong>Exit</strong></a></li>
            </ul>
        </div>
    </div>

    <!--mdiddle part-->
    <div class="container">
        {% block container %}{% endblock %}
    </div>

    <footer class="row-footer">
        <h5 class="text-center"> &copy; Weiling IEMS5709 </h5>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" rel="stylesheet"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>

    <script type="text/javascript" charset="utf-8">
        namespace = '/connect';
        port = '50000'
        // document.domain: Returns the domain name of the server that loaded the document
        // location.port:
        console.log('http://' + document.domain + ':' + port + namespace);
        var socket = io.connect('http://' + document.domain + ':' + port + namespace);

        var user = {};
        var question = {};
        var answer = null;
        var id = 0;
        var set = null;

        socket.on('connect', function() {
            if($('#name').val() === undefined) {
                console.log('Login Connected!')
            }else{
                console.log('Main Connected!')
                socket.emit('join', {data:'start quiz'});
            }
        });

        // message handler for the 'join_room' channel
        socket.on('joined-room', function(response) {
            console.log(response);
            user = response.user;
            //renew the current score
            $('#score').text(user.score);
            //renew the question
            question = response.question;
            id = response.id;
            $('#nid').text('    No.' + (id+1));
            $('#Q').text(question.question);
            $('#A').html('&nbsp &nbsp' + question.answer[0]);
            $('#B').html('&nbsp &nbsp' + question.answer[1]);
            $('#C').html('&nbsp &nbsp' + question.answer[2]);
            $('#D').html('&nbsp &nbsp' + question.answer[3]);

            //using setInterval to realize a Countdown。
            (function() {
                var time = 10;
                set = setInterval(function() {
                    time--;
                    $('#time').text(time);
                    if(time === 0) {
                        clearInterval(set);
                        socket.emit('join', {data:'quiz process', ans: answer, id: id});
                        document.getElementById(answer).setAttribute("active", false);
                        answer = null;
                    }
                }, 1000);
            })()
        });

        // handle the game over : show the score & rank; out room?? de connect?
        socket.on('game-over', function(response) {
            user = response.user;
            //renew the current score
            $('#score').text(user.score);
            $('.main-box').html('<h1><center>ALL DONE!!!</center></h1><br><h4><center>User name: '
             + user.username + '</center></h4><h4><center>Score: '
             + user.score + '</center></h4><h4><center>WinRate: '
             + user.winRate + ' </center></h4><br>'
             + '<center><button class="btn btn-success" onclick="newGame()">NEW START</button></center>');
            room = response.room;
            console.log(room);

        });

        function select(tab){
            answer = null;
            if (tab === 1) {
                document.getElementById('A').setAttribute("active", true);
                answer = 'A';
            }else if(tab === 2) {
                document.getElementById('B').setAttribute("active", true);
                answer = 'B';
            }else if(tab === 3) {
                document.getElementById('C').setAttribute("active", true);
                answer = 'C';
            }else {
                document.getElementById('D').setAttribute("active", true);
                answer = 'D';
            }
            console.log('select answer:.....' + tab)
        }

        function submitAnswer(){
            if(answer != null){
                clearInterval(set);
                socket.emit('join', {data:'quiz process', ans: answer, id: id});
            }else{
                alert("Please choose a answer!");
            }
            //after submit, clear answer!
            answer = null;
        }

        //start new round, clear all variable, out room, de connect...etc
        function newGame(){
            window.location.href = "/";
        }

    </script>

</body>
</html>
