<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizing</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
</head>

<body>
    <!--header-->
    <div class="head fixed-top">
        <div class="container">
            <div class="jumbotrons">
                <p id='p1' class="text-center"><strong>QUIZING</strong></p>
                <p id='p2'class="text-center">TEST YOUR SELF, JUST FOR FUN!</p>
            </div>
        </div>
   </div>

    <div class="container">
        <div class="row center">
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="#"><strong>Start</strong></a></li>
                <li><a href="#"><strong>Ranking</strong></a></li>
                <li><a href="start"><strong>Restart</strong></a></li>
                <li><a href="/"><strong>Exit</strong></a></li>
            </ul>
        </div>
    </div>

    <!--mdiddle part-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <div class="sidebar">
                    <h3>Profile:</h3>
                    <p>Name: {{userName}}</p>
                    <p>Score:</p>
                    <p>Rank:</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8">
                <div class="main-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-offset-1">
                                <h3>Question 1: Which planet is the hottest?</h3>
                                <ul id="qlist" class="nav nav-pills nav-stacked">
                                    <li><span><input type="radio" name="ans" value="A"> &nbsp;&nbsp; A. Venus</span></li>
                                    <li><span><input type="radio" name="ans" value="B"> &nbsp;&nbsp; B. Mercury</span></li>
                                    <li><span><input type="radio" name="ans" value="C"> &nbsp;&nbsp; C. Jupiter</span></li>
                                    <li><span><input type="radio" name="ans" value="D"> &nbsp;&nbsp; D. Mars</span></li>
                                    <br>
                                </ul>

                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <button class="btn btn-success">PREV</button>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <button class="btn btn-success">NEXT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="row-footer">
        <h5 class="text-center"> &copy; Weiling IEMS5709 </h5>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" rel="stylesheet"></script>

</body>

</html>
