body {
    background-color: #C5C9B8;
    width: 100%;
    margin: 0 auto;
}

.head {
  background-image: url("../images/header.jpg");
}

.jumbotrons {
  padding: 30px 10px;
  color:#ccff33
}

.jumbotrons #p1 {
    font-size: 60px;
}
.jumbotrons #p2 {
    font-size: 20px;
}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.main-box {
  background-color: #e7e9e2;
  padding: 20px 10px;
  height: 350px;
}

.sidebar {
  background-color: #dbded3;
  padding: 20px 10px;
  height: 200px;
}

.navbar-nav li a {
  color:#7e9b09;
  font-size: 15px;
}

.navbar-nav li a.active {
  background-color: #a4b756;
  color: white;
}

.navbar-nav li a:hover:not(.active) {
  background-color: #6c7458;
  color: white;
}

.header {
  padding: 60px;
  background-color: #f1f1f1;
  background-image: url("images/logo_meitu_1.png");
  background-size: 40% 80%;
  background-repeat: no-repeat;
  background-position: 40% 80%;
}

#userlist li {
    list-style-type: none;
    border-color: black;
    background-color: #dbded3;
}

#qlist {
    list-style-type: none;
    border-color: black;
}

#qlist li{
    border-color: black;
    background-color: #dbded3;
}

#qlist li a{
    display: block;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
}

#qlist li a:active {
    background-color: #6c7458;
    color: white;
}

#qlist li a:focus {
    background-color: #6c7458;
    color: white;
}

#qlist li a:hover:not(.active) {
    background-color: #6c7458;
    color: white;
}

#time {
    font-size: 60px;
}
#nid {
    font-size: 30px;
}

footer {
  padding: 0px 0px;
  margin: 0px auto;
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
  background-color: #acb299;
}
